.box_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general_container {
    position: relative;
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;

}


.firstBack {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.56) inset;
    -webkit-box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.56) inset;
    -moz-box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.56) inset;
}

.secondBack {
    width: 75%;
    height: 75%;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px 20px 0px -11px rgba(199, 187, 199, 1);
    -moz-box-shadow: inset 0px 20px 0px -11px rgba(199, 187, 199, 1);
    box-shadow: inset 0px 20px 0px -11px rgba(199, 187, 199, 1);
}

.backImage {
    width: 50px;
    height: 50px auto;

}

.backImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    position: relative;
    width: 120px;
    height: 120px;

}

.element_classic {
    position: absolute;
}

.element_bonus {
    position: absolute;
}

.element_classic:nth-child(1) {
    top: 0;
    left: 0;
}

.element_classic:nth-child(2) {
    top: 0;
    right: 0;
}

.element_classic:nth-child(3) {
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 50%;

}

.element_bonus:nth-child(1) {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
}

.element_bonus:nth-child(2) {
    top: 25%;
    right: 0;
}

.element_bonus:nth-child(3) {
    bottom: 0;
    left: 60%;
}

.element_bonus:nth-child(4) {
    bottom: 0;
    right: 60%;
}

.element_bonus:nth-child(5) {
    top: 25%;
    left: 0;
}