.box_container {
    margin-top:80px;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general_container {
    position: relative;
    width: 450px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;

}


.firstBack {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.56) inset;
    -webkit-box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.56) inset;
    -moz-box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.56) inset;
}

.secondBack {
    width: 75%;
    height: 75%;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 0px 20px 0px -11px rgba(199, 187, 199, 1);
    -moz-box-shadow: inset 0px 20px 0px -11px rgba(199, 187, 199, 1);
    box-shadow: inset 0px 20px 0px -11px rgba(199, 187, 199, 1);
}

.backImage {
    width: 50px;
    height: 50px auto;

}

.backImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    position: relative;
    width: 170px;
    height: 170px;

}

.element_classic {
    position: absolute;
}

.element_bonus {
    position: absolute;
}

.element_classic:nth-child(1) {
    top: 0;
    left: -30px;
}

.element_classic:nth-child(2) {
    top: 0;
    right: -30px;
}

.element_classic:nth-child(3) {
    bottom: -70px;
    transform: translate(-50%, -50%);
    left: 50%;

}

.element_bonus:nth-child(1) {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
}

.element_bonus:nth-child(2) {
    top: 25%;
    right: -50px;
}

.element_bonus:nth-child(3) {
    bottom: -30px;
    left: 60%;
}

.element_bonus:nth-child(4) {
    bottom: -30px;
    right: 60%;
}

.element_bonus:nth-child(5) {
    top: 25%;
    left: -40px;
}
@media screen and (max-width: 900px) {
    .container {
        position: relative;
        width: 150px;
        height: 150px;
    
    }

}
@media screen and (max-width: 700px) {
    .container {
        position: relative;
        width: 130px;
        height: 130px;
    
    }
    .element_bonus:nth-child(1) {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 10%;
    }
    
    .element_bonus:nth-child(2) {
        top: 25%;
        right: -10px;
    }
    
    .element_bonus:nth-child(3) {
        bottom: -10px;
        left: 60%;
    }
    
    .element_bonus:nth-child(4) {
        bottom: 0px;
        right: 60%;
    }
    
    .element_bonus:nth-child(5) {
        top: 25%;
        left: -10px;
    }
    .general_container {
        position: relative;
        width: 400px;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
    
    }

}

@media screen and (max-width: 500px) {
    .container {
        position: relative;
        width: 110px;
        height: 110px;
    
    }
    .element_bonus:nth-child(1) {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 10%;
    }
    
    .element_bonus:nth-child(2) {
        top: 25%;
        right: -10px;
    }
    
    .element_bonus:nth-child(3) {
        bottom: -10px;
        left: 60%;
    }
    
    .element_bonus:nth-child(4) {
        bottom: 0px;
        right: 60%;
    }
    
    .element_bonus:nth-child(5) {
        top: 25%;
        left: -10px;
    }
    .general_container {
        position: relative;
        width: 350px;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
    
    }
    .element_classic:nth-child(1) {
        top: 0;
        left: 0px;
    }
    
    .element_classic:nth-child(2) {
        top: 0;
        right: 0px;
    }
    
    .element_classic:nth-child(3) {
        bottom: -10px;
        transform: translate(-50%, -50%);
        left: 50%;
    
    }

}