.button_footer {
    border: 2px solid #fff;
    padding: 10px 45px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
}

.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #ffff;
}

.container img {
    margin: 30px 0;
    width: 80%;
}

ul li {
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .block {
        display: flex;
        justify-content: center;
        display: inline-block;
    }
}