.button_footer {
    border: 2px solid #fff;
    padding: 10px 45px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    
}
.block{
    margin-bottom: 20px;
}