* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #1b2a4b;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.count{
  margin-top: 30px;
}