* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
}

body {
  overflow: hidden;
  height: 90vh;
  position: relative;
  background-color: #1b2a4b;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.count {
  margin-top: 30px;
}

.footer_rules {
  position: absolute;
  right: 0;
  bottom: 0;
}

.shadow {
  box-shadow:
    0 0 0 40px rgba(39, 54, 85, 0.5),
    0 0 0 90px rgb(34, 49, 82, 0.5),
    0 0 0 140px rgb(31, 45, 79, 1);
}

@media screen and (max-width: 400px) {
  .footer_rules {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .footer_rules {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  body {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: #1b2a4b;
  }

  .count {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {

  body {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: #1b2a4b;
  }
}